---
---

@charset "UTF-8";

:root {

}

.about {

        &__textContainer {
                display: flex;
                flex-flow: column nowrap;
                align-items: center;
                justify-content: center;
                text-align: justify;
                font-family: 'Telegraf', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
                font-weight: 300;
                line-height: 1.2;
                width: 50%;
                margin: auto;
                @media (max-width: 768px) {
                        width: 100%;
                }
        }
}
