---
---

@charset "UTF-8";

:root {

        {%- if site.data.colors.about.custom %}
        --color-top: {{ site.data.colors.about.top_color }};
        --color-bottom: {{ site.data.colors.about.bottom_color }};
	--color-text: {{ site.data.colors.about.text_color }};
	--color-special: {{ site.data.colors.about.special_color }};
        {%- endif %}

}
