---
---

@charset "UTF-8";

:root {

        {%- if site.data.colors.homepage.custom %}
        --color-top: {{ site.data.colors.homepage.top_color_light }};
        --color-top--light: {{ site.data.colors.homepage.top_color_light }}1A; // 10%
        --color-bottom: {{ site.data.colors.homepage.bottom_color_light }};
        --color-bottom--light: {{ site.data.colors.homepage.bottom_color_light }}40; // 25%
	--color-text: {{ site.data.colors.homepage.text_color_light }};
        --color-text--redundant: {{ site.data.colors.homepage.text_color_light }};
	--color-text--light: {{ site.data.colors.homepage.text_color_light }}66; // 40%
	--color-special: {{ site.data.colors.homepage.special_color_light }};
        @media (prefers-color-scheme: dark) {
		--color-top: {{ site.data.colors.homepage.top_color_dark }};
		--color-top--light: {{ site.data.colors.homepage.top_color_dark }}1A; // 10%
	        --color-bottom: {{ site.data.colors.homepage.bottom_color_dark }};
		--color-bottom--light: {{ site.data.colors.homepage.bottom_color_dark }}40; // 25%
		--color-text: {{ site.data.colors.homepage.text_color_dark }};
		--color-text--redundant: {{ site.data.colors.homepage.text_color_dark }};
		--color-text--light: {{ site.data.colors.homepage.text_color_dark }}66; // 40%
		--color-special: {{ site.data.colors.homepage.special_color_dark }};
	}
        {%- endif %}

}

#mother {

        #header {
		height: 5rem;
		margin: calc(var(--vh, 1vh) * 50 - 1rem - 2.5rem) 1rem;
                @media (max-width: 512px) {
                        height: 4rem;
                        margin: calc(var(--vh, 1vh) * 50 - 1rem - 2rem) 1rem;
                }
        }

        #nav {
                &__label {
                        background: var(--color-top);
			box-shadow: 0 0 5rem 5rem var(--color-top);
                }
        }

        #main {

                .homepageShowcase {
                        display: flex;
                        flex-flow: row nowrap;
                        &__left,
                        &__middle,
                        &__right {
                                display: flex;
                                flex-flow: column nowrap;
                                width: 33.33333%;
                                height: 1000px;
                        }
                }

        }

}
