---
---

@charset "UTF-8";

:root {

        {%- if site.data.colors.homepage.custom %}
        --color-top: {{ site.data.colors.homepage.top_color_light }};
        --color-top--light: {{ site.data.colors.homepage.top_color_light }}1A; // 10%
        --color-bottom: {{ site.data.colors.homepage.bottom_color_light }};
        --color-bottom--light: {{ site.data.colors.homepage.bottom_color_light }}40; // 25%
	--color-text: {{ site.data.colors.homepage.text_color_light }};
        --color-text--redundant: {{ site.data.colors.homepage.text_color_light }};
	--color-text--light: {{ site.data.colors.homepage.text_color_light }}66; // 40%
	--color-special: {{ site.data.colors.homepage.special_color_light }};
        @media (prefers-color-scheme: dark) {
		--color-top: {{ site.data.colors.homepage.top_color_dark }};
		--color-top--light: {{ site.data.colors.homepage.top_color_dark }}1A; // 10%
	        --color-bottom: {{ site.data.colors.homepage.bottom_color_dark }};
		--color-bottom--light: {{ site.data.colors.homepage.bottom_color_dark }}40; // 25%
		--color-text: {{ site.data.colors.homepage.text_color_dark }};
		--color-text--redundant: {{ site.data.colors.homepage.text_color_dark }};
		--color-text--light: {{ site.data.colors.homepage.text_color_dark }}66; // 40%
		--color-special: {{ site.data.colors.homepage.special_color_dark }};
                #moon {
			--color-text--light: var(--color-special);
		}
	}
        {%- endif %}

}

#mother {

        #header {
		height: 5rem;
		// margin: calc(var(--vh, 1vh) * 50 - 1rem - 2.5rem) 1rem;
                margin: calc(50vh - 1rem - 2.5rem) 1rem;
                @media (max-width: 512px) {
                        height: 4rem;
                        // margin: calc(var(--vh, 1vh) * 50 - 1rem - 2rem) 1rem;
                        margin: calc(50vh - 1rem - 2rem) 1rem;
                }
        }

        #arrow {
                position: absolute;
                // top: calc(var(--vh, 1vh) * 100 - 4rem);
                top: calc(100vh - 4rem - env(safe-area-inset-bottom));
                left: 50%;
                transform: translate(-50%, -100%);
                display: flex;
                align-items: center;
                justify-content: center;
                height: 2.5rem;
                width: 2.5rem;
                margin: 0;
                border: 1px solid var(--color-text--light);
                border-radius: 100%;
                background: var(--color-top--light);
                box-shadow: inset 0 -0.75rem 0 0 var(--color-bottom--light);
                animation: appear 6s, bounce 2.5s infinite;
                transition: box-shadow 0.25s;
                cursor: s-resize;
                @keyframes appear {
                        0% {
                                opacity: 0;
        		}
        		80% {
                                opacity: 0;
        		}
        		90% {
                                opacity: 0.5;
        		}
        		100% {
                                opacity: 1;
        		}
                }
                @keyframes bounce {
        		0% {
        			transform: translate(-50%, -100%);
        		}
        		50% {
        			transform: translate(-50%, -150%);
        		}
        		100% {
        			transform: translate(-50%, -100%);
        		}
                }
                @media (any-hover: hover) {
                        &:hover {
                                --color-text: var(--color-special);
                                --color-text--light: var(--color-special);
                                box-shadow: inset 0 -0.5rem 0 0 var(--color-bottom--light);
                        }
                }
                &::before {
                        content: "↓";
                        font-family: "Telegraf", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
                        font-weight: 300;
                        font-size: 1rem;
                        padding: 1rem;
                }
        }

        #nav {

                &__label {
                        background: var(--color-top);
			box-shadow: 0 0 5rem 5rem var(--color-top);
                }
        }

        #main {

                .homepageShowcase {

                        display: flex;
                        flex-flow: row nowrap;
                        margin: -2rem;

                        &__left,
                        &__middle,
                        &__right {
                                display: flex;
                                flex-flow: column nowrap;
                                width: 33.33333%;
                        }
                        &__entry {
                                display: flex;
                                flex-flow: column nowrap;
                                width: 100%;
                                -webkit-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
                                img {
                                        display: block;
                                        width: 100%;
                                }
                                figcaption {
                                        display: none;
                                }
                        }

                }

        }

}
