---
---

@charset "UTF-8";

$font-size: 15px !default;

:root {

	--color-top: {{ site.data.colors.general.top_color_light }};
	--color-top--light: {{ site.data.colors.general.top_color_light }}1A; // 10%
        --color-bottom: {{ site.data.colors.general.bottom_color_light }};
	--color-bottom--light: {{ site.data.colors.general.bottom_color_light }}40; // 25%
	--color-text: {{ site.data.colors.general.text_color_light }};
	--color-text--redundant: {{ site.data.colors.general.text_color_light }};
	--color-text--light: {{ site.data.colors.general.text_color_light }}66; // 40%
	--color-special: {{ site.data.colors.general.special_color_light }};
	@media (prefers-color-scheme: dark) {
		--color-top: {{ site.data.colors.general.top_color_dark }};
		--color-top--light: {{ site.data.colors.general.top_color_dark }}1A; // 10%
	        --color-bottom: {{ site.data.colors.general.bottom_color_dark }};
		--color-bottom--light: {{ site.data.colors.general.bottom_color_dark }}40; // 25%
		--color-text: {{ site.data.colors.general.text_color_dark }};
		--color-text--redundant: {{ site.data.colors.general.text_color_dark }};
		--color-text--light: {{ site.data.colors.general.text_color_dark }}66; // 40%
		--color-special: {{ site.data.colors.general.special_color_dark }};
		#moon {
			--color-text--light: var(--color-special);
		}
	}

}

html,
body {
	top: 0;
	left: 0;
	width: 100%;
	// min-height: calc(var(--vh, 1vh) * 100 - 2rem);
	min-height: calc(100vh - 2rem);
	font-size: $font-size;
	font-weight: 400;
	font-style: normal;
	line-height: 1.0;
	text-align: left;
}
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	font-size: inherit;
	font-family: inherit;
	font-weight: inherit;
	font-style: inherit;
	line-height: inherit;
	color: var(--color-text);
	font-synthesis: none;
	text-align: inherit;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	text-size-adjust: none;
	text-rendering: geometricPrecision;
	-webkit-font-smoothing: subpixel-antialiased;
	word-break: break-word;
	touch-action: manipulation;
}

img {
	pointer-events: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

a,
a:link,
a:hover,
a:active,
a:visited {
        text-decoration: none;
}
a[href*="//"]:not([href*="{{- site.url -}}{{- site.baseurl -}}"]), a[href*="mailto:"] {
	cursor: alias;
}
a:focus {
	// text-decoration: underline; // todo
}
:focus {
	// outline: none;
}

::-moz-selection,
::selection { /* none yet! */ }

body {
	background: linear-gradient(to bottom, var(--color-top) 10%, var(--color-bottom) 100%);
	background-repeat: no-repeat;
	background-attachment: fixed;
	@media (any-hover: none) {
		background: var(--color-bottom);
		&::before {
			content: "";
			position: fixed;
			top: 0;
			left: 0;
			display: block;
			// height: calc(var(--vh, 1vh) * 100);
			height: calc(100vh * 100);
			width: 100vw;
			background: linear-gradient(to bottom, var(--color-top) 10%, var(--color-bottom) 100%);
			background-repeat: no-repeat;
			background-attachment: initial;
			// background-size: 100vw calc(var(--vh, 1vh) * 100);
			background-size: 100vw 100vh;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			pointer-events: none;
			z-index: -1;
		}
	}
}

#notice { /* none yet! */ }

#mother {

	position: relative;
	display: flex;
	flex-flow: column nowrap;
	width: calc(100% - 2rem);
	height: 100%;
	// min-height: calc(var(--vh, 1vh) * 100 - 2rem);
	min-height: calc(100vh - 2rem);
	margin: 1rem;
	animation: fadeIn 1.5s;
	& > * {
		margin: 1rem;
	}

	#header {
		order: 1;
		position: sticky;
		// top: 2rem;
		display: flex;
                height: 3rem;
		align-items: center;
		justify-content: center;
                z-index: 100;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		&__anchor,
		&__logo {
			height: 100%;
			max-width: 100%;
		}
		&__logo {
			fill: var(--color-text);
			@media (any-hover: hover) {
				&:hover {
					fill: var(--color-special);
				}
			}
		}
		margin: 0;
		top: 1rem;
	}

	#nav {
		order: 2;
		margin: 1rem -1rem;
		&::before,
		&::after {
			content: "";
			position: relative;
			display: block;
			height: 1px;
			width: 100%;
			background: var(--color-text--light);
		}
		&__toggle {
			display: none;
		}
		&__label {
			display: flex;
			flex-flow: row nowrap;
			align-items: center;
			justify-content: center;
			height: 5rem;
			background: var(--color-top--light);
			&--current {
				display: none;
			}
			&--styling {
				order: 1;
			}
			&--about {
				order: 2;
			}
			&--social {
				order: 3;
			}
			.nav__label--parent {
				order: 0;
				--color-text: var(--color-special);
			}
			.nav__label--active {
				--color-text: var(--color-special);
			}
			@media (max-width: 768px) {
				flex-flow: column nowrap;
				height: auto;
				&--current {
					display: block;
				}
				&--about {
					order: 1;
				}
				&--styling {
					order: 2;
				}
				&--social {
					order: 3;
				}
				.nav__label--parent {
					--color-text: revert;
					&::before {
						content: "\2191";
						position: absolute;
						left: 50%;
						top: 5rem;
						transform: translate(-50%, -50%);
						pointer-events: none;
						--color-text: var(--color-text--redundant);
					}
				}
				&::before,
				&::after {
					content: "";
					order: 2;
					height: 1px;
					width: 100%;
					background: var(--color-text--light);
				}
			}
			&--current,
			&--styling,
			&--about,
			&--social {
				flex: 1;
				padding: 2rem;
				font-family: "Telegraf", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
				font-weight: 300;
				text-align: center;
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
				-webkit-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
				@media (max-width: 768px) {
					width: 100%;
				}
				@media (any-hover: hover) {
					&:hover {
						--color-text: var(--color-special);
					}
				}
			}
		}
	}

	#main {
		order: 3;
	}

        #footer {
		order: 4;
		position: relative;
		display: flex;
		flex-flow: column nowrap;
		// min-height: calc((var(--vh, 1vh) * 100) + 1px);
		min-height: calc(100vh + 1px);
		margin-bottom: -1rem;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		&::before {
			content: "";
			display: block;
			position: absolute;
			left: -2rem;
			height: 1px;
			width: calc(100% + 4rem);
			background: var(--color-text--light);
		}
		span {
			position: relative;
			font-family: "Telegraf", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
			font-weight: 300;
			text-align: center;
			padding: 0.5rem 0;
			word-break: keep-all;
			a {
				text-decoration: underline;
				text-decoration-color: var(--color-text--light);
				text-decoration-thickness: 2px;
				word-break: keep-all;
				@media (any-hover: hover) {
					&:hover {
						--color-text: var(--color-special);
						--color-text--light: var(--color-special);
					}
				}
			}
		}
		span:not(:first-of-type):not(:last-of-type) {
			margin: auto 0;
		}
		span:first-of-type {
			margin: auto 0 0 0;
			padding-top: 2rem;
		}
		span:last-of-type {
			margin: 0 0 auto 0;
			padding-bottom: 2rem;
		}
		span:only-of-type {
			margin: auto 0;
		}
	}

	#moon {
		position: absolute;
		bottom: 2.5626rem;
		left: 50%;
		transform: translateX(-50%);
		display: flex;
		align-items: center;
		justify-content: center;
		width: 2rem;
		height: 2rem;
		background: var(--color-top--light);
		box-shadow: inset 0 -0.5rem 0 0 var(--color-bottom--light);
		border: 1px solid var(--color-text--light);
		border-radius: 100%;
		transition: box-shadow 0.25s;
		cursor: cell;
		&::before {
			content: "";
			display: block;
			height: 1rem;
			width: 1rem;
			border-radius: 100%;
			box-shadow: inset 0.25rem 0 0 0 var(--color-text--light);
			transform: rotate(-30deg) translateX(0.125rem);
		}
		@media (any-hover: hover) {
			&:hover {
				--color-text--light: var(--color-special);
				box-shadow: inset 0 -0.25rem 0 0 var(--color-bottom--light);
			}
		}
	}

	.generic--hidden {
		position: absolute !important;
		top: -9999px !important;
		left: -9999px !important;
	}

	.generic--notVisible {
		visibility: hidden !important;
	}

	.generic--zeroOpacity {
		opacity: 0 !important;
	}

	.generic--halfOpacity {
		opacity: 0.75 !important;
	}

	.generic--displayNone {
		display: none !important;
	}

	.generic--jsOnly {
		display: none !important;
	}

	@keyframes fadeIn {
		from { opacity: 0; } to { opacity: 1; }
	}

	@media (prefers-reduced-motion: reduce) {
		* {
			animation: none !important;
			transition: none !important;
		}
	}

}
