---
---

@charset "UTF-8";

$font-size: 15px !default;

:root {

	--color-top: {{ site.data.colors.general.top_color }};
        --color-bottom: {{ site.data.colors.general.bottom_color }};
	--color-text: {{ site.data.colors.general.text_color }};
	--color-text--redundant: {{ site.data.colors.general.text_color }};
	--color-special: {{ site.data.colors.general.special_color }};
	@media (prefers-color-scheme: dark) { }

}

html,
body {
	top: 0;
	left: 0;
	width: 100%;
	min-height: calc(var(--vh, 1vh) * 100 - 2rem);
	font-size: $font-size;
	font-weight: 400;
	font-style: normal;
	line-height: 1.0;
	text-align: left;
}
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	font-size: inherit;
	font-family: inherit;
	font-weight: inherit;
	font-style: inherit;
	line-height: inherit;
	color: var(--color-text);
	font-synthesis: none;
	text-align: inherit;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	text-size-adjust: none;
	text-rendering: geometricPrecision;
	-webkit-font-smoothing: antialiased;
	word-break: break-word;
}

img {
	// pointer-events: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

a,
a:link,
a:hover,
a:active,
a:visited {
        text-decoration: none;
}
a[href*="//"]:not([href*="{{- site.url -}}{{- site.baseurl -}}"]), a[href*="mailto:"] {
	cursor: alias;
}
a:focus {
	// text-decoration: underline; // todo
}
:focus {
	outline: none;
}

::-moz-selection,
::selection { /* none yet! */ }

body {
	background: linear-gradient(to bottom, var(--color-top) 10%, var(--color-bottom) 100%);
	background-repeat: no-repeat;
	background-attachment: fixed;
	@media (any-hover: none) {
		background: var(--color-bottom);
		&::before {
			content: "";
			position: fixed;
			top: 0;
			left: 0;
			display: block;
			height: calc(var(--vh, 1vh) * 100);
			width: 100vw;
			background: linear-gradient(to bottom, var(--color-top) 10%, var(--color-bottom) 100%);
			background-repeat: no-repeat;
			background-attachment: initial;
			background-size: 100vw calc(var(--vh, 1vh) * 100);
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			pointer-events: none;
			z-index: -1;
		}
	}
}

#notice { /* none yet! */ }

#mother {

	position: relative;
	display: flex;
	flex-flow: column nowrap;
	width: calc(100% - 2rem);
	height: 100%;
	min-height: calc(var(--vh, 1vh) * 100 - 2rem);
	margin: 1rem;
	animation: fadeIn 1.5s;
	@keyframes fadeIn {
		from { opacity: 0; } to { opacity: 1; }
	}
	& > * {
		margin: 1rem;
	}

	#header {
		order: 1;
		position: sticky;
		top: 2rem;
		display: flex;
                height: 3rem;
		align-items: center;
		justify-content: center;
                z-index: 100;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		&__anchor,
		&__logo {
			height: 100%;
			max-width: 100%;
		}
		&__logo {
			fill: var(--color-text);
			@media (any-hover: hover) {
				&:hover {
					fill: var(--color-special);
				}
			}
		}
	}

	#nav {
		order: 2;
		&::before,
		&::after {
			content: "";
			position: relative;
			left: -2rem;
			display: block;
			height: 1px;
			width: calc(100% + 4rem);
			background: var(--color-text);
			opacity: 0.5;
		}
		&__toggle {
			display: none;
		}
		&__label {
			display: flex;
			flex-flow: row nowrap;
			align-items: center;
			justify-content: center;
			height: 5rem;
			&--current {
				display: none;
			}
			&--styling {
				order: 1;
			}
			&--about {
				order: 2;
			}
			&--social {
				order: 3;
			}
			.nav__label--parent {
				order: 0;
				--color-text: var(--color-special);
			}
			.nav__label--active {
				--color-text: var(--color-special);
			}
			@media (max-width: 768px) {
				flex-flow: column nowrap;
				height: auto;
				&--current {
					display: block;
				}
				&--about {
					order: 1;
				}
				&--styling {
					order: 2;
				}
				&--social {
					order: 3;
				}
				.nav__label--parent {
					--color-text: revert;
					&::before {
						content: "\2191";
						position: absolute;
						left: 50%;
						top: 5rem;
						transform: translate(-50%, -50%);
						pointer-events: none;
						--color-text: var(--color-text--redundant);
					}
				}
				&::before,
				&::after {
					content: "";
					order: 2;
					height: 1px;
					width: calc(100% + 4rem);
					background: var(--color-text);
					opacity: 0.5;
				}
			}
			&--current,
			&--styling,
			&--about,
			&--social {
				flex: 1;
				padding: 2rem;
				text-align: center;
				font-family: "Telegraf", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
				font-weight: 300;
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
				-webkit-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
				@media (max-width: 1280px) {
					padding: 2rem 1rem;
				}
				@media (max-width: 768px) {
					padding: 2rem 0;
					width: 100%;
				}
				@media (any-hover: hover) {
					&:hover {
						--color-text: var(--color-special);
					}
				}
			}
		}
	}

	#main {
		order: 3;
	}

        #footer {
		order: 4;
	}

	.generic--hidden {
		position: absolute !important;
		top: -9999px !important;
		left: -9999px !important;
	}

	.generic--jsOnly {
		display: none;
	}

	@media (prefers-reduced-motion: reduce) {
		* {
			animation: none !important;
			transition: none !important;
		}
	}

}
