---
---

@charset "UTF-8";

@media (max-width: 768px) {

        #mother {

                #nav {

                        &__label {
                                position: relative;
                                & > .nav__label--active {
                                        pointer-events: none;
                                }
                        }

                        &__toggle:not(:checked) + #nav__label {
                                &::before,
                		&::after {
                                        height: 0px;
                                        opacity: 0;
                                }
                                & > *:not(.nav__label--active) {
                                        display: none;
                                }
                                & > .nav__label--active {
                                        cursor: s-resize;
                                }
                        }

                        &__toggle:checked + #nav__label {
                                &::before,
                		&::after {
                                        position: absolute;
                                }
                                &::before {
                                        top: 5rem;
                                }
                                &::after {
                                        top: 10rem;
                                }
                                & > *:not(.nav__label--active) {
                                        display: revert;
                                }
                                & > .nav__label--active {
                                        order: 0;
                                        cursor: n-resize;
                                }
                        }

                }

        }

}
