---
---

@charset "UTF-8";

:root {

        {%- if site.data.colors.styling_and_creative_direction.custom %}
        --color-top: {{ site.data.colors.styling_and_creative_direction.top_color_light }};
        --color-top--light: {{ site.data.colors.styling_and_creative_direction.top_color_light }}1A; // 10%
        --color-bottom: {{ site.data.colors.styling_and_creative_direction.bottom_color_light }};
        --color-bottom--light: {{ site.data.colors.styling_and_creative_direction.bottom_color_light }}40; // 25%
	--color-text: {{ site.data.colors.styling_and_creative_direction.text_color_light }};
        --color-text--redundant: {{ site.data.colors.styling_and_creative_direction.text_color_light }};
	--color-text--light: {{ site.data.colors.styling_and_creative_direction.text_color_light }}66; // 40%
	--color-special: {{ site.data.colors.styling_and_creative_direction.special_color_light }};
        @media (prefers-color-scheme: dark) {
		--color-top: {{ site.data.colors.styling_and_creative_direction.top_color_dark }};
		--color-top--light: {{ site.data.colors.styling_and_creative_direction.top_color_dark }}1A; // 10%
	        --color-bottom: {{ site.data.colors.styling_and_creative_direction.bottom_color_dark }};
		--color-bottom--light: {{ site.data.colors.styling_and_creative_direction.bottom_color_dark }}40; // 25%
		--color-text: {{ site.data.colors.styling_and_creative_direction.text_color_dark }};
		--color-text--redundant: {{ site.data.colors.styling_and_creative_direction.text_color_dark }};
		--color-text--light: {{ site.data.colors.styling_and_creative_direction.text_color_dark }}66; // 40%
		--color-special: {{ site.data.colors.styling_and_creative_direction.special_color_dark }};
	}
        {%- endif %}

}

body {
        overflow: hidden;
}

#mother {

        #nav {
                &__toggle:checked + #nav__label {
                        &::before {
                                top: 10rem;
                        }
                        &::after {
                                top: 15rem;
                        }
                }
        }

        #main {

                flex: 1;

                .project {
                        height: calc(var(--vh, 1vh) * 100 - 10rem);
                        &__carousel {
                                display: flex;
                                flex-flow: row nowrap;
                                height: 100%;
                                margin: -2rem;
                                overflow-x: scroll;
                                scrollbar-width: none;
                                -ms-overflow-style: none;
                                &::-webkit-scrollbar {
                                        display: none;
                                }
                        }
                        &__carouselItem {
                                height: 100%;
                                img {
                                        display: block;
                                        height: 100%;
                                        -webkit-user-select: none;
                			-moz-user-select: none;
                			-ms-user-select: none;
                			user-select: none;
                                }
                                iframe {
                                        display: block;
                                        pointer-events: none;
                                        & + a {
                                                display: block;
                                        }
                                }
                        }
                        &__carouselTitle,
                        &__carouselFooter {
                                flex: 1 0 auto;
                                width: 100%;
                                padding: 2rem;
                                display: flex;
                                flex-flow: column nowrap;
                                align-items: center;
                                justify-content: center;
                                overflow: hidden;
                                span {
                                        font-family: "Telegraf", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
        				font-weight: 300;
                                        text-align: center;
                                        padding: 0.5rem 0;
                                        word-break: keep-all;
                                        a {
                                                text-decoration: underline;
                                                text-decoration-color: var(--color-text--light);
                                                text-decoration-thickness: 2px;
                                                word-break: keep-all;
                                                @media (any-hover: hover) {
                                                        &:hover {
                                                                --color-text: var(--color-special);
                                                                --color-text--light: var(--color-special);
                                                        }
                                                }
                                        }
                                }
                                span:not(:first-of-type):not(:last-of-type) {
                                        margin: auto 0;
                                }
                                span:first-of-type {
                                        margin: auto 0 0 0;
                                }
                                span:last-of-type {
                                        margin: 0 0 auto 0;
                                }
                                span:only-of-type {
                                        margin: auto 0;
                                }
                        }
                        &__carouselTitle {
                                span:first-of-type {
                                        padding: 2rem;
                                        border: 1px solid var(--color-text--light);
                                        border-radius: 100%;
                                        cursor: e-resize;
                                        -webkit-user-select: none;
                			-moz-user-select: none;
                			-ms-user-select: none;
                			user-select: none;
                                }
                                span:nth-of-type(2) {
                                        padding-top: 2rem;
                                }
                        }
                }

        }

}
