---
---

@charset "UTF-8";

:root {

        {%- if site.data.colors.styling_and_creative_direction.custom %}
        --color-top: {{ site.data.colors.styling_and_creative_direction.top_color }};
        --color-bottom: {{ site.data.colors.styling_and_creative_direction.bottom_color }};
	--color-text: {{ site.data.colors.styling_and_creative_direction.text_color }};
        --color-text--redundant: {{ site.data.colors.styling_and_creative_direction.text_color }};
	--color-text--light: {{ site.data.colors.styling_and_creative_direction.text_color }}80;
	--color-special: {{ site.data.colors.styling_and_creative_direction.special_color }};
        {%- endif %}

        --aspectRatio-projectDirectory: ({{ site.data.projectDirectory.card_aspect_ratio.width}} / {{ site.data.projectDirectory.card_aspect_ratio.height }});
        --columns-projectDirectory: 12;
        @media (max-width: 4864px) {
		--columns-projectDirectory: 11;
	}
	@media (max-width: 4352px) {
		--columns-projectDirectory: 10;
	}
	@media (max-width: 3840px) {
		--columns-projectDirectory: 9;
	}
	@media (max-width: 3328px) {
		--columns-projectDirectory: 8;
	}
	@media (max-width: 2816px) {
		--columns-projectDirectory: 7;
	}
	@media (max-width: 2304px) {
		--columns-projectDirectory: 6;
	}
	@media (max-width: 1792px) {
		--columns-projectDirectory: 5;
	}
	@media (max-width: 1280px) {
		--columns-projectDirectory: 4;
	}
	@media (max-width: 768px) {
		--columns-projectDirectory: 3;
	}
        @media (max-width: 512px) {
                --columns-projectDirectory: 2;
        }
        @media (max-width: 256px) {
                --columns-projectDirectory: 1;
        }

}

.projectDirectory {

        display: none;
        &__looks {
                display: flex;
                flex-flow: row wrap;
                align-items: center;
                justify-content: flex-start;
                margin: -1rem;
                header {
                        font-family: "Telegraf", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
                        font-weight: 700;
                }
        }

        &__lookCard {
                &--outer {
                        position: relative;
                        padding: 1rem;
                        flex-basis: calc(100% / var(--columns-projectDirectory));
                        &::before {
                                content: "";
                                display: block;
                                padding-top: calc(100% / var(--aspectRatio-projectDirectory));
                        }
                }
                &--inner {
                        position: absolute;
                        top: 1rem;
                        left: 1rem;
                        display: flex;
                        flex-flow: column nowrap;
                        align-items: center;
                        justify-content: center;
                        width: calc(100% - 2rem);
                        height: calc(100% - 2rem);
                        padding: 1rem;
                        border: 1px solid var(--color-text--light);
                        border-radius: 1rem;
                        overflow: hidden;
                        // background: var(--color-top);
                        @media (any-hover: hover) {
                                &:hover {
                                        border-color: var(--color-special);
                                }
                        }
                }
                &--image {
                        // max-width: 100%;
                        max-height: 100%;
                        img {
                                display: block;
                                // width: 100%;
                                height: 100%;
                                // object-fit: contain;
                                margin: auto;
                                object-fit: cover;
                                object-position: center;
                        }
                        figcaption {
                                padding-top: 1rem;
                                font-family: "Telegraf", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
                                font-weight: 300;
                                text-align: center;
                                -webkit-user-select: none;
                                -moz-user-select: none;
                                -ms-user-select: none;
                                user-select: none;
                                span {
                                        display: block;
                                }
                        }
                }
        }

}
