---
---

@charset "UTF-8";

:root {

        {%- if site.data.colors.styling_and_creative_direction.custom %}
        --color-top: {{ site.data.colors.styling_and_creative_direction.top_color }};
        --color-bottom: {{ site.data.colors.styling_and_creative_direction.bottom_color }};
	--color-text: {{ site.data.colors.styling_and_creative_direction.text_color }};
	--color-special: {{ site.data.colors.styling_and_creative_direction.special_color }};
        {%- endif %}

}

#mother {

        #main {
                flex: 1;
        }

}
