---
---

@charset "UTF-8";

:root {

        {%- if site.data.colors.styling_and_creative_direction.custom %}
        --color-top: {{ site.data.colors.styling_and_creative_direction.top_color }};
        --color-bottom: {{ site.data.colors.styling_and_creative_direction.bottom_color }};
	--color-text: {{ site.data.colors.styling_and_creative_direction.text_color }};
	--color-special: {{ site.data.colors.styling_and_creative_direction.special_color }};
        {%- endif %}

        --columns-projectDirectory: 10;
	@media (max-width: 4352px) {
		--columns-projectDirectory: 9;
	}
	@media (max-width: 3840px) {
		--columns-projectDirectory: 8;
	}
	@media (max-width: 3328px) {
		--columns-projectDirectory: 7;
	}
	@media (max-width: 2816px) {
		--columns-projectDirectory: 6;
	}
	@media (max-width: 2304px) {
		--columns-projectDirectory: 5;
	}
	@media (max-width: 1792px) {
		--columns-projectDirectory: 4;
	}
	@media (max-width: 1280px) {
		--columns-projectDirectory: 3;
	}
	@media (max-width: 768px) {
		--columns-projectDirectory: 2;
	}
        @media (max-width: 512px) {
                --columns-projectDirectory: 1;
        }

}

.projectDirectory {

        &__looks {
                display: flex;
                flex-flow: row wrap;
                align-items: center;
                justify-content: flex-start;
                margin: -1rem;

                display: none !important;

                &__look {
                        padding: 1rem;
                        flex-basis: calc(100% / var(--columns-projectDirectory));
                        a {
                                display: block;
                                @media (any-hover: hover) {
                                        &:hover {
                                                --color-text: var(--color-special);
                                        }
                                }
                        }
                        &--image {
                                img {
                                        display: block;
                                        width: 100%;
                                        height: 100%;
                                }
                                figcaption {
                                        padding-top: 1rem;
        				font-family: "Telegraf", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
        				font-weight: 300;
                                        text-align: center;
                                        -webkit-user-select: none;
        				-moz-user-select: none;
        				-ms-user-select: none;
        				user-select: none;
                                        span {
                                                display: block;
                                        }
                                }
                        }
                }
        }

}
