---
layout: main
style:
  - nav
  - about
---

        <article class="about">
                                <h2 class="generic--hidden">
                                        About
                                </h2>
                                <div style="
                                        height: calc(var(--vh, 1vh) * 100 - 4rem);
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        text-align: center;
                                        font-family: 'Telegraf', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
                                ">
                                        This page is under construction.
                                </div>
                        </article>
