---
layout: main
style:
  - nav
  - about
---

        <article class="about">
                                <h2 class="generic--hidden">
                                        About
                                </h2>
                                <div class="about__container">
                                        <p style="margin-bottom: 2rem;">Welcome to my digital world!</p>
                                        <p style="margin-bottom: 2rem;">Jad Toghuj is a self-taught fashion stylist and creative director. He began his styling career by experimenting with different garments and silhouettes and grew fond of editorial styling. He has collaborated with many Jordanian designers and international brand names throughout the past three years and participated in several local fashion events. He usually finds inspiration in electronic and alternative music, surroundings, and current events. Jad approaches each new project with the intent of charting a common ground between client needs and the experimental editorial aesthetic.</p>
                                        <form class="about__contactForm" action="https://formspree.io/f/mvovjwlo" method="post">
        					<fieldset>
        						<input name="Name" placeholder="Name" type="text" required dir="auto">
        						<input name="E-mail" placeholder="E-mail" type="email" required dir="auto">
        						<textarea name="Message" placeholder="Message" required dir="auto"></textarea>
        						<button type="submit" data-submit="Sending..." dir="auto">Send</button>
        					</fieldset>
        				</form>
                                        <footer class="about__footer" data-jad-cp-label="">
                                                {{ site.data.generalConfiguration.footer_text }}
                                        </footer>
                                </div>
                        </article>
