---
layout: main
style:
  - nav
  - about
---

        <article class="about">
                                <h2 class="generic--hidden">
                                        About
                                </h2>
                                <div class="about__textContainer">
                                        <p style="margin-bottom: 2rem;">Welcome to my digital world!</p>
                                        <p>I am a self-taught fashion stylist and creative director. I began my styling career by experimenting with different garments and silhouettes and grew fond of editorial styling. I have collaborated with many Jordanian designers and international brand names throughout the past three years and participated in several local fashion events. I usually find inspiration in electronic and alternative music, my surroundings, and current events. I approach each new project with the intent of charting a common ground between client needs and the experimental editorial aesthetic.</p>
                                </div>
                                <form class="main_wrapper-contact_wrapper main_wrapper-special_content --article_section_styling" action="https://formspree.io/f/mvovjwlo" method="post">
					<fieldset>
						<input name="Name" placeholder="Name" type="text" required dir="auto">
						<input name="E-mail" placeholder="E-mail" type="email" required dir="auto">
						<textarea name="Message" placeholder="Message" required dir="auto"></textarea>
						<button type="submit" data-submit="Sending..." dir="auto">Send</button>
					</fieldset>
				</form>
                        </article>
