---
layout: main
style:
  - homepageShowcase
---

        <article class="homepageShowcase">
                                <h2 class="generic--hidden">
                                        Homepage Showcase
                                </h2>
                                <div class="homepageShowcase__left">
                                        {%- for entry in site.data.homepageShowcase.entries -%}
                                        {%- assign indexTest = forloop.index | minus: 1 | modulo: 3 -%}
                                        {%- if forloop.index == 1 or indexTest == 0 -%}
                                        {%- if entry.entry_image and entry.entry_image.size != 0 %}
                                        <figure class="homepageShowcase__entry">
                                                {%- if entry.entry_link and entry.entry_link.size != 0 %}
                                                <a href="{{ entry.entry_link }}" title="{{ entry.entry_caption }}" {%- unless entry.entry_link contains site.url %} target="_blank" {%- endunless -%}>
                                                {%- endif %}
                                                <img src="{{ entry.entry_image }}" title="{{ entry.entry_caption }}" />
                                                {%- if entry.entry_caption and entry_caption.size != 0 %}
                                                <figcaption>
                                                        {{ entry.entry_caption }}
                                                </figcaption>
                                                {%- endif -%}
                                                {%- if entry.entry_link and entry.entry_link.size != 0 %}
                                                </a>
                                                {%- endif %}
                                        </figure>
                                        {%- endif -%}
                                        {%- endif -%}
                                        {%- endfor %}
                                </div>
                                <div class="homepageShowcase__middle">
                                        {%- for entry in site.data.homepageShowcase.entries -%}
                                        {%- assign indexTest = forloop.index | minus: 2 | modulo: 3 -%}
                                        {%- if forloop.index == 2 or indexTest == 0 %}
                                        {%- if entry.entry_image and entry.entry_image.size != 0 %}
                                        <figure class="homepageShowcase__entry">
                                                {%- if entry.entry_link and entry.entry_link.size != 0 %}
                                                <a href="{{ entry.entry_link }}" title="{{ entry.entry_caption }}" {%- unless entry.entry_link contains site.url %} target="_blank" {%- endunless -%}>
                                                {%- endif %}
                                                <img src="{{ entry.entry_image }}" title="{{ entry.entry_caption }}" />
                                                {%- if entry.entry_caption and entry_caption.size != 0 %}
                                                <figcaption>
                                                        {{ entry.entry_caption }}
                                                </figcaption>
                                                {%- endif -%}
                                                {%- if entry.entry_link and entry.entry_link.size != 0 %}
                                                </a>
                                                {%- endif %}
                                        </figure>
                                        {%- endif -%}
                                        {%- endif -%}
                                        {%- endfor %}
                                </div>
                                <div class="homepageShowcase__right">
                                        {%- for entry in site.data.homepageShowcase.entries -%}
                                        {%- assign indexTest = forloop.index | minus: 3 | modulo: 3 -%}
                                        {%- if forloop.index == 3 or indexTest == 0 %}
                                        {%- if entry.entry_image and entry.entry_image.size != 0 %}
                                        <figure class="homepageShowcase__entry">
                                                {%- if entry.entry_link and entry.entry_link.size != 0 %}
                                                <a href="{{ entry.entry_link }}" title="{{ entry.entry_caption }}" {%- unless entry.entry_link contains site.url %} target="_blank" {%- endunless -%}>
                                                {%- endif %}
                                                <img src="{{ entry.entry_image }}" title="{{ entry.entry_caption }}" />
                                                {%- if entry.entry_caption and entry_caption.size != 0 %}
                                                <figcaption>
                                                        {{ entry.entry_caption }}
                                                </figcaption>
                                                {%- endif -%}
                                                {%- if entry.entry_link and entry.entry_link.size != 0 %}
                                                </a>
                                                {%- endif %}
                                        </figure>
                                        {%- endif -%}
                                        {%- endif -%}
                                        {%- endfor %}
                                </div>
                        </article>
