---
layout: main
style:
  - homepageShowcase
---

        <article class="homepageShowcase">
                                <div class="homepageShowcase__left">
                                        {%- for entry in site.data.homepageShowcase.entries -%}
                                        {%- assign indexTest = forloop.index | minus: 1 | modulo: 3 -%}
                                        {%- if forloop.index == 1 or indexTest == 0 %}
                                        <div>
                                                {{ entry }}
                                        </div>
                                        {%- endif -%}
                                        {%- endfor %}
                                </div>
                                <div class="homepageShowcase__middle">
                                        {%- for entry in site.data.homepageShowcase.entries -%}
                                        {%- assign indexTest = forloop.index | minus: 2 | modulo: 3 -%}
                                        {%- if forloop.index == 2 or indexTest == 0 %}
                                        <div>
                                                {{ entry }}
                                        </div>
                                        {%- endif -%}
                                        {%- endfor %}
                                </div>
                                <div class="homepageShowcase__right">
                                        {%- for entry in site.data.homepageShowcase.entries -%}
                                        {%- assign indexTest = forloop.index | minus: 3 | modulo: 3 -%}
                                        {%- if forloop.index == 3 or indexTest == 0 %}
                                        <div>
                                                {{ entry }}
                                        </div>
                                        {%- endif -%}
                                        {%- endfor %}
                                </div>
                        </article>
