---
layout: main
style:
  - nav
  - project
---

        <article class="project">
                                {%- for project in site.data.projectDirectory.projects -%}
                                {%- if project.project_page == page.path %}
                                <h2 class="generic--hidden">
                                        {{ project.project_name }}
                                </h2>
                                {%- endif -%}
                                {%- endfor %}
                        </article>
