---
layout: main
style:
  - nav
  - projectDirectory
---

<div id="projectDirectory" style="display: none;">
        <div id="projectDirectory__look">
                <span>Browse by Look</span>
                {%- for project in site.data.projectDirectory.projects -%}
                {%- for look in project.looks %}
                <span>{{ look.look_name }}</span>
                {%- endfor -%}
                {%- endfor %}
        </div>
        <div id="projectDirectory__project">
                <span>Browse by Project</span>
                {%- for project in site.data.projectDirectory.projects %}
                <span>{{ project.project_name }}</span>
                {%- endfor %}
        </div>
</div>
