---
layout: main
style:
  - nav
  - project
---

        <article class="project">
                                {%- for project in site.data.projectDirectory.projects -%}
                                {%- if project.project_page == page.path %}
                                <h2 class="generic--hidden">
                                        {{ project.project_name }}
                                </h2>
                                <div class="project__carousel">
                                        {%- for media in project.media -%}
                                        {%- if media.template == "look" -%}
                                        {%- for image in media.look_images %}
                                        <figure class="project__image">
                                                <img src="{{ image }}" title="{{ media.look_name }}" />
                                                <figcaption class="generic--hidden">
                                                        <span>
                                                                {{ media.look_name }}
                                                        </span>
                                                        <span>
                                                                {{ media.look_description }}
                                                        </span>
                                                </figcaption>
                                        </figure>
                                        {%- endfor -%}
                                        {%- endif -%}
                                        {%- if media.template == "image-s" -%}
                                        {%- for image in media.images %}
                                        <figure class="project__image">
                                                <img src="{{ image }}" title="{{ project.project_name }}" />
                                                <figcaption class="generic--hidden">
                                                        <span>
                                                                {{ project.project_name }}
                                                        </span>
                                                </figcaption>
                                        </figure>
                                        {%- endfor -%}
                                        {%- endif -%}
                                        {%- if media.template == "video" -%}
                                        {%- endif -%}
                                        {%- endfor %}
                                </div>
                                {%- endif -%}
                                {%- endfor %}
                        </article>
