---
layout: main
style:
  - nav
  - projectDirectory
---

<div class="projectDirectory">
        <div class="projectDirectory__looks">
                <!-- <header>
                        Browse By Look
                </header> -->
                {%- for project in site.data.projectDirectory.projects -%}
                {%- for look in project.looks %}
                <article class="projectDirectory__lookCard--outer">
                        <a href="{{ project.project_page | replace_first: '_', '/' | replace: '.html', '/'  }}" title="{{ look.look_name }}, {{ project.project_name }}">
                                <header class="generic--hidden">
                                        {{ look.look_name }}, {{ project.project_name }}
                                </header>
                                <div class="projectDirectory__lookCard--inner">
                                        <figure class="projectDirectory__lookCard--image">
                                                <img src="{{ look.look_cover }}" title="{{ look.look_name }}, {{ project.project_name }}" />
                                                <!-- <figcaption>
                                                        <span>
                                                                {{ look.look_name }}
                                                        </span>
                                                        <span>
                                                                {{ project.project_name }}
                                                        </span>
                                                </figcaption> -->
                                        </figure>
                                </div>
                        </a>
                </article>
                {%- endfor -%}
                {%- endfor %}
        </div>
        <div id="projectDirectory__projects">
                <!-- <header>
                        Browse By Project
                </header> -->
                {%- for project in site.data.projectDirectory.projects %}
                <article class="projectDirectory__projectCard">
                        <a href="{{ project.project_page | replace_first: '_', '/' | replace: '.html', '/'  }}" title="{{ project.project_name }}">
                                <header>{{ project.project_name }}</header>
                        </a>
                </article>
                {%- endfor %}
        </div>
</div>
